{namespace aijko=Aijko\CropImages\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{responsiveObjects}">
		<f:then>
			<f:form action="save" arguments="{fileReference: fileReference, referer: referer}" id="cropForm">
				<aijko:be.tabContainer each="{responsiveObjects}" as="itemConfiguration" key="deviceKey" tabTitleField="label">
					<div class="responsiveImageContainer clearfix">
						<h1 class="tabTitle">{itemConfiguration.label}</h1>
						<div class="baseImage">
							<f:image image="{itemConfiguration.file}" maxWidth="600" maxHeight="600" alt="Cropped Image" class="cropbox" />
						</div>
						<div class="values"
								data-x1="{itemConfiguration.cropValues.x1}"
								data-x2="{itemConfiguration.cropValues.x2}"
								data-y1="{itemConfiguration.cropValues.y1}"
								data-y2="{itemConfiguration.cropValues.y2}"
								data-width="{itemConfiguration.width}"
								data-height="{itemConfiguration.height}"
								data-ratio="{aspectRatio}">
							<table class="t3-table-info">
								<tr>
									<td class="t3-col-header"><label for="x1_{deviceKey}"><f:translate key="cropvalues.x1" /></label></td>
								<td data-identity="x1"><f:form.textfield id="x1_{deviceKey}" name="x1_{deviceKey}" value="" class="x1" type="number" /></td>
								</tr>
								<tr>
									<td class="t3-col-header"><label for="x2_{deviceKey}"><f:translate key="cropvalues.x2" /></label></td>
									<td data-identity="x2"><f:form.textfield id="x2_{deviceKey}" name="x2_{deviceKey}" value="" class="x2" type="number" /></td>
								</tr>
								<tr>
									<td class="t3-col-header"><label for="y1_{deviceKey}"><f:translate key="cropvalues.y1" /></label></td>
									<td data-identity="y1"><f:form.textfield id="y1_{deviceKey}" name="y1_{deviceKey}" value="" class="y1" type="number" /></td>
								</tr>
								<tr>
									<td class="t3-col-header"><label for="y2_{deviceKey}"><f:translate key="cropvalues.y2" /></label></td>
									<td data-identity="y2"><f:form.textfield id="y2_{deviceKey}" name="y2_{deviceKey}" value="" class="y2" type="number" /></td>
								</tr>
								<tr>
									<td class="t3-col-header"><label for="w_{deviceKey}"><f:translate key="cropvalues.w" /></label></td>
									<td data-identity="width"><f:form.textfield id="w_{deviceKey}" name="w_{deviceKey}" value="" class="w" type="number" /></td>
								</tr>
								<tr>
									<td class="t3-col-header"><label for="h_{deviceKey}"><f:translate key="cropvalues.h" /></label></td>
									<td data-identity="height"><f:form.textfield id="h_{deviceKey}" name="h_{deviceKey}" value="" class="h" type="number" /></td>
								</tr>
								<tr>
									<td class="t3-col-header"><label><f:translate key="cropvalues.ar" /></label></td>
									<td data-identity="ar"><f:form.textfield value="{aspectRatio}" class="aspectRatio" /></td>
								</tr>
							</table>
						</div>
					</div>
				</aijko:be.tabContainer>
			</f:form>
		</f:then>
		<f:else>
			<p><f:translate key="messages.noImages" /></p>
		</f:else>
	</f:if>
</f:section>